/*=== General Elements ===*/
* {
	margin: 0; 
	padding: 0;
	font-family: futura;
}

html, body {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 0;
}
*{
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

canvas {
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 10;

}
body{
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

}
/*=== END General Elements ===*/

/*=== Top Bar ===*/
#presentation{
	position: fixed;
	background: rgba(0,0,0,0.9);
	width: 100%;
	height: 70px;
	box-shadow: 2px 3px 8px rgba(0,0,0,0.3);
	color: white;
	font-family:futura;
	font-size: 30px;
	padding-top: 10px;
}

#bang{
	display: none;
}

#points{
	position: relative;
	color: white;
	float: right;
	right: 50px;

}

#title{
	position: relative;
	left:50px;
}
/*=== END Top Bar ===*/
/*=== Effects and Graphics ===*/

.explosion0
{	position: absolute;
	top: 0px;
	left: 0px;
	height: 169px;
	width: 300px;
	background: url('img/blood/explosions/explosion0.png');
	z-index: 2;
	animation: bloodExplosion 0.30s steps(7, end);
	-webkit-animation: bloodExplosion 0.30s steps(7, end)  ; /* Safari and Chrome ONE FUCKING STEP LESS! STARTS FROM 0 */

}
.explosionGeneral{
	position: relative;
	top: 0px;
	left: 0px;
	height: 169px;
	width: 300px;
	background:none;
	z-index: 2;
	animation: bloodExplosion 0.5s steps(14, end);
	-webkit-animation: bloodExplosion 0.5s steps(14, end)  ; /* STARTS FROM ONE FUCKING STEP LESS! */

}
.splattern{
	position: fixed;
	top: 0px;
	left: 0px;
	height: 169px;
	width: 300px;
	z-index: 2;
	opacity: 0;
	background: url('img/blood/splatterns/splatternFixed.png');
	animation: bloodFade 3s ease-out;
	-webkit-animation: bloodFade 3s ease-out  ; /* STARTS FROM ONE FUCKING STEP LESS! */
}
/*=== END Effects and Graphics ===*/

/*=== Modal Box ===*/

#killingspree{

	position: absolute;
	height: 160px;
	width: 400px;
	margin: auto;
	color: #fefefe;
	background: rgba(0,0,0,0.8);
	opacity: 0;
	z-index: 9999;
	text-align: center;
	margin-left: -200px;
	left: 50%;
	top: 50%;
	margin-top: -80px;
	font-size: 30px;
	line-height: 80px;
	box-shadow: 2px 3px 8px rgba(0,0,0,0.3);
	-webkit-transition: all 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
	-moz-transition: all 0.3s ease-out;  /* Firefox 4-15 */
	-o-transition: all 0.3s ease-out;  /* Opera 10.50-12.00 */
	transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}
/*=== END Modal Box ===*/

/*=== Animations ===*/

@keyframes bloodFade{
	0%		{opacity: 0;}
	5%		{opacity: 1;}
	25%		{opacity: 1;}
	75%		{opacity: 1;}
	100%	{opacity: 0;}
}

/* Safari and Chrome */
@-webkit-keyframes bloodFade{
	0%		{opacity: 0;}
	5%		{opacity: 1;}
	25%		{opacity: 1;}
	75%		{opacity: 1;}
	100%	{opacity: 0;}
}

@keyframes bloodExplosion{
	0%{
		background-position: 0% 0%; 
		opacity: 1;
	}
	60%{
		opacity: 1;
	}	
	100%{
		background-position: 0% 100%;
		opacity: 0;
	}
}
/* Safari and Chrome */

@-webkit-keyframes bloodExplosion{
	0%{
		background-position: 0% 0%; 
		opacity: 1;
	}
	60%{
		opacity: 1;
	}	
	100%{
		background-position: 0% 100%;
		opacity: 0;
	}
}
/*=== END Animations ===*/